.Body{
    background-image: url(../Proyecto_microblog/Imagenes/fondo_.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    align-items: center;
    width: 10%;
    background-color: rgb(44, 52, 49);
}

.imagen{
    width: 200px;
    align-content: center;
    margin: 20%;
}

.navbar{
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: rgb(44, 52, 49);
    align-content: center;
    padding: 15px;
    width: 50%;
    margin: 10px;
}

.button{
    color: rgb(252, 250, 250);
    background-color: rgb(83, 93, 101);
    margin: auto;
    width: 200px;
    border: solid white;
    border-radius: 10px;
}

.button:active{
    transform: translate(2px);
}

.button_post{
    color: rgb(252, 250, 250);
    background-color: rgba(83, 93, 101, 0.626);
    margin: 10px;
    width: 200px;
    border: solid white;
    border-radius: 10px;
}

.button_post:active{
    transform: translate(2px);
}

.body_limited{
    width: 80%;
    background-color: rgba(240, 248, 255, 0.26);
    align-items: center;
    align-content: center;
}

.title{
    color: white;
}

.text_box{
    margin: auto;
    text-align: calc(5px);
    width: 40%;
    padding: 50px;
    background-color: rgb(10, 22, 58);
    color: white;
    font-family: cursive;
    border: solid white;
    border-radius: 10px;
}

.text_title{
    margin: 3px;
    text-align: calc(5px);
    width: 48%;
    padding: 5px;
    background-color: rgb(10, 22, 58);
    color: white;
    font-family: cursive;
    border: solid white;
    border-radius: 10px;
}

.post{
    background-color: rgb(10, 22, 58);
    color: white;
    margin: 15px;
    width: 30%;
    display: flex;
    flex-direction: row;
}

.blog{
    display: flex;
    flex-direction: row;
}

.footer{
    background-color: rgb(44, 52, 49);
    color: white;
    display: flex;
    text-align: center;
    align-self: center;
    padding: 15px;
}

.text{
    margin: 5px;
}